name: Action

on:
  workflow_call:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-actionlint@v1
  test-calendar-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          install_args: "node"
      - run: npm ci
      - run: npm run build
      - uses: ./
        id: calendar-version
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: if [[ -z ${{ steps.calendar-version.outputs.old-tag }} ]]; then exit 1; fi
      - run: if [[ -z ${{ steps.calendar-version.outputs.old-version }} ]]; then exit 1; fi
      - run: if [[ -z ${{ steps.calendar-version.outputs.new-tag }} ]]; then exit 1; fi
      - run: if [[ -z ${{ steps.calendar-version.outputs.new-version }} ]]; then exit 1; fi
